<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">
      .makecenter h1{
        display: inline-block;
        text-align: right;
        float: left;
      }
      .bigboy {
        font-size: 40;
        margin-bottom: 20;
      }
      .smallboys {
        font-size: 17;
        margin-bottom: 10;
      }
      .mediumboy {
        font-size: 25;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Messages</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">Account</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a href="/logout">Logout</a>
        </span>
      </div>
    </nav>


    <section class="hero is-info is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="makecenter">
              <h1 class="bigboy">Introduction</h1>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="makecenter">
              <p class="smallboys">The theme for this Hackathon was to 'make lives easier during social distancing.'</p>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="makecenter">
              <p class="smallboys">I thought about all my friends and relatives that I haven't seen in months and how social distancing has made it hard to communicate.</p>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="makecenter">
              <p class="smallboys">Therefore, I developed a messaging web app to allow people to communicate with one another during these times.</p>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="makecenter">
              <p class="smallboys">Feel free to play around with the site, and have fun.</p>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="makecenter">
              <p class="mediumboy">- Krish</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html
